<!DOCTYPE html>
<html>
<head>
    <title>Mi Página de Redirección</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <center><h1>Importaciones</h1></center>
    <center><p>Esta página te redirigirá a una URL específica.</p></center>

    <!-- Enlace que dirige a la URL definida en el archivo de urls.py -->
    <center><a class="btn btn-warning" href="{% url 'importacion' %}">CALCULADORA DE IMPORTACIONES</a></center>

    

</body>
</html>
